*{
box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
}
.navbar{
 display: flex;
justify-content: space-between;
align-items: center;
background-color: #333;
color: white;
}
.navbar-lists ul{
margin: 0;
padding: 0;
display: flex;
}
.navbar-lists li{
    list-style: none;
}
.navbar-lists a{
    text-decoration: none;
    color: white;
    padding: 40PX;
    display: block ;
}
.navbar-lists li:hover{
background-color: #555;
}
.toggle-button{
 position: absolute;
top:  75rem;
right:  1rem ;
display: none;
flex-direction: column;
justify-content: space-between;
width:  30 px;
height: 12px;
}
.toggle-button.bar{
height: 3px;
width: 100%;
background-color: white;
border-radius: 10px;
}
.lead {
    margin: 2.0625rem auto 3.75rem;
}
.section__inner {
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;

}
.lead__logo {
    display: block;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: 150;
}

img {
    border: 0;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 100;
  text-align: center;
  color:#00b39b;
  font-family: Work Sans,Arial,sans-serif;
}

.grid{
   display: flex;
   justify-content: space-around;
      
margin-top: 30px;
} 
p{
        font-weight: 400;
        font-family: Roboto,Arial,sans-serif;
        color: #747474;
        padding-top: 70px;
        -webkit-font-smoothing: antialiased;
    }
    .services__item--marketplace {
        background: #00ccb1;
    }
    .services__item {
        border-radius: 10px;
        padding: 2em 2em 0;
        overflow: hidden;
        height: 345px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all .2s ease 0s;
    }
    .services__item services__item--marketplace {
        display: flex;
    }

    .doctors {
        background: #0e3052;
        border-radius: 10px;
        padding: 2em 2em 0;
        overflow: hidden;
        height: 345px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }
    .clinics {
        background: #1b2734;
        border-radius: 10px;
        padding: 2em 2em 0;
        overflow: hidden;
        height: 345px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:  10px;
    }
    .patient {
        background: #00ccb1;
        border-radius: 10px;
        padding: 2em 2em 0;
        overflow: hidden;
        height: 345px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
article{
    margin: 10px;
    
}    
    